In [54]:
# Dependencies
import pandas as pd
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float 

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [55]:
# Name of the CSV file
file1 = 'Resources/clean_hawaii_measure.csv'
file2 = 'Resources/clean_hawaii_stations.csv'

In [56]:
# The correct encoding must be used to read the CSV in pandas
df_hawaii_measure = pd.read_csv(file1, encoding="ISO-8859-1")
df_hawaii_stations = pd.read_csv(file2, encoding="ISO-8859-1")
df_hawaii_measure.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [57]:
Base = declarative_base()

# Define our Measurement table
class Measurement(Base):
    __tablename__ = 'measurement'
    index = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Integer)
    tobs = Column(Integer)

class Station(Base):
    __tablename__ = 'station'
    index = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Integer)
    longitude= Column(Integer)   
    elevation= Column(Integer)

In [58]:
# Right now, these table only exists in python and not in the actual database
Base.metadata.tables

immutabledict({'measurement': Table('measurement', MetaData(bind=None), Column('index', Integer(), table=<measurement>, primary_key=True, nullable=False), Column('station', String(), table=<measurement>), Column('date', String(), table=<measurement>), Column('prcp', Integer(), table=<measurement>), Column('tobs', Integer(), table=<measurement>), schema=None), 'station': Table('station', MetaData(bind=None), Column('index', Integer(), table=<station>, primary_key=True, nullable=False), Column('station', String(), table=<station>), Column('name', String(), table=<station>), Column('latitude', Integer(), table=<station>), Column('longitude', Integer(), table=<station>), Column('elevation', Integer(), table=<station>), schema=None)})

In [59]:
# Create Database Connection
# ----------------------------------
# Creates a connection to our DB using the MySQL Connect Engine
# engine = create_engine("sqlite://k5xunpkmojyzse51:ifagg1gp7e2xyapi@ffn96u87j5ogvehy.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/tq6h098h0ym00zp6")
engine = create_engine("sqlite:///Resources/hawaii.sqlite", echo=False)
conn = engine.connect()

In [60]:
# This is where we create our tables in the database
Base.metadata.create_all(engine)

In [61]:
# The ORM’s “handle” to the database is the Session.
from sqlalchemy.orm import Session
session = Session(engine)

In [62]:
# The data hasn't been added yet
engine.execute('select * from measurement').fetchall()
engine.execute('select * from station').fetchall()

[]

In [63]:
df_hawaii_measure.to_sql('measurement', con=engine, if_exists='append')
df_hawaii_stations.to_sql('station', con=engine, if_exists='append')

In [64]:

engine.execute('select * from measurement').fetchall()
engine.execute('select * from station').fetchall()

[(0, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3),
 (1, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (2, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7),
 (3, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (4, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (5, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (6, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9),
 (7, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (8, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)]

In [65]:
engine.execute("SELECT * FROM sqlite_master").fetchall()

[('table', 'measurement', 'measurement', 2, 'CREATE TABLE measurement (\n\t"index" INTEGER NOT NULL, \n\tstation VARCHAR, \n\tdate VARCHAR, \n\tprcp INTEGER, \n\ttobs INTEGER, \n\tPRIMARY KEY ("index")\n)'),
 ('table', 'station', 'station', 4, 'CREATE TABLE station (\n\t"index" INTEGER NOT NULL, \n\tstation VARCHAR, \n\tname VARCHAR, \n\tlatitude INTEGER, \n\tlongitude INTEGER, \n\televation INTEGER, \n\tPRIMARY KEY ("index")\n)')]

In [53]:
#engine.execute("drop table if exists station")
#engine.execute("drop table if exists stations")
#engine.execute("drop table if exists measurement")